*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Inter',sans-serif
}

header{
    background-color: #F7AFFF;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 30px;

}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;

    transition: 0.3s;
}

nav a:hover{
     text-decoration:overline;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro img{
    width: 300px;
}

.introText h1{
    font-size: 2.5em;
    font-weight: bold;
}

.introText h2{
    font-size: 2em;
    text-align: center
}

#intro p {
    margin-top: 20px;
}


#quadradoPink1{
    width: 400px;
    height: 10px;
    background-color: #F7AFFF;
    margin-left: 90px;
}

#quadradoPink2{
    width: 350px;
    height: 10px;
    background-color: #FCE0FF;
}

.quadrados{
    position: absolute;
    margin-top: 300px;
    z-index: -1;
}

.subSection{
    display: flex;
    justify-content: center;
    margin: 50px;
}

section{ 
    margin-top: 100px;
    width: 500px;

}

h3{
    font-size: 3em;
    color: #c9c7c7;
}

ul{
    margin-right: 150px;
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

h4{
    font-weight: 100;
}

h5{
    margin-top: 2px;
    font-size: 1em;
}

.linkEmpresa{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

.linkEmpresa:after{
    content: ' |';
    color: #F7AFFF;
}

.pinVenturus{
   position: absolute;
   margin-left: 350px;
   margin-top: -150px;
}

.pinVenturus h5{
    padding: 10px;
    background-color: #F7AFFF;
    border-radius: 5px;
    margin: 5px;
}

.kings{
    margin-top: 100px;
}

.pinKings{
    position: absolute;
    margin-left: 350px;
    margin-top: -115px;
 }

.pinKings h5{
    padding: 10px;
    background-color: #F7AFFF;
    border-radius: 5px;
    margin: 5px;
}

.eventos{
    margin-top: 50px;
}

.pinEventos{
    position: absolute;
    margin-left: 350px;
    margin-top: -115px;
}

.pinEventos h5{
    padding: 10px;
    background-color: #F7AFFF;
    border-radius: 5px;
    margin: 5px;
}    

#cursos h4{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

#cursos h4::after{
    content: ' |';
    color: #F7AFFF;
}

#cursos h5{
    font-weight: 100;
}

#cursos a{
    margin-top: 2px;
    font-size: 1em;
    font-weight: bold;
}

#cursos li{
    margin-top: 20px;
}

/**.rotate {
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */