*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: 'Inter',sans-serif
}

header{
    background-color: #F7AFFF;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 30px;

}

nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

nav a:hover{
     text-decoration:overline;
}

#intro{
    display: flex;
    margin: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro img{
    width: 300px;
    height: 100%;
}

.introText{
    margin: 30px;
}

.introText h1{
    font-size: 3em;
    font-weight: bold;
}

.introText h2{
    font-size: 2em;
    text-align: center
}

.introText p{
    font-size: bold;
}

#quadradoPink1{
    width: 400px;
    height: 10px;
    background-color: #F7AFFF;
    margin-left: 90px;
    
}

#quadradoPink2{
    width: 350px;
    height: 10px;
    background-color: #FCE0FF;
}

.quadrados{
    position: absolute;
    margin-top: 400px;
    z-index: -1;
}

.subSection{
    margin-left: 300px;
}

#experiencia{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    margin-left: 200px;
}

.subSection h3{
    font-size: 3em;
    color: #c9c7c7;
}

#experiencia ul{
    list-style: none;
}

#experiencia a{
    text-decoration: none;
    color: #000;
}

#experiencia h4{
    display: inline;
    font-weight: 100;
}

#experiencia h5{
    font-size: 1em;
}

.linkEmpresa{
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
}

.linkEmpresa:after{
    content: ' |';
    color: #F7AFFF;
}

.pinVenturus{
   position: absolute;
   margin-left: 350px;
   margin-top: -140px;
}

.pinVenturus h5{
    padding: 10px;
    background-color: #F7AFFF;
    border-radius: 5px;
    margin: 5px;
}

.kings{
    margin-top: 100px;
}

.pinKings{
    position: absolute;
    margin-left: 350px;
    margin-top: -105px;
 }

.pinKings h5{
    padding: 10px;
    background-color: #F7AFFF;
    border-radius: 5px;
    margin: 5px;
}

.eventos{
    margin-top: 50px;
}

.pinEventos{
    position: absolute;
    margin-left: 350px;
    margin-top: -115px;
}

.pinEventos h5{
    padding: 10px;
    background-color: #F7AFFF;
    border-radius: 5px;
    margin: 5px;
}    
/**.rotate {
    transform: rotate(45deg); /* Equal to rotateZ(45deg) */